<!DOCTYPE html>
<html>
<head>
	<title>Event</title>
	<meta charset="utf-8">
</head>
<body>
	<div id="root">
		<p>{{ counter }}</p>
		<button v-if="counter < 10" @click="incrementCounter">Hækka um einn</button>
		<button v-if="counter > -10" @click="decrementCounter">Lækka um einn</button>
	</div>

	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: "#root",
			data: {
				counter: 0
			},
			methods: {
				incrementCounter: function() {
					if (this.counter < 10) {
						this.counter++;
					}
				},
				decrementCounter: function() {
					if (this.counter > -10) {
						this.counter--;
					}
				}
			}
		});
	</script>
</body>
</html>