<!DOCTYPE html>
<html>
<head>
	<title>Message</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
	<style type="text/css">
		body {
			padding-top: 40px;
		}
	</style>
</head>
<body>
	<div id="app" class="container">
		<message title="Lorem Ipsum">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet vitae mauris molestie bibendum. Ut pellentesque tortor ut nisi bibendum, a faucibus neque dignissim. Nunc ipsum ipsum, semper a ornare at, rutrum sit amet quam.
		</message>
		<message title="Lorem Ipsum 2">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet vitae mauris molestie bibendum.
		</message>
		<notification type="is-danger">
			Info lorem ipsum dolor sit amet, consectetur
			  adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
			consectetur adipiscing elit
		</notification>
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script src="message.js"></script>
</body>
</html>